

  /* =Banner
  ----------------------------------------------- */
  .banner {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    padding-bottom: 60vh;
    background-size: cover;
    background-position: center;
    color: inherit;
    box-sizing: border-box;
  }
  .banner:before {
    content: "";
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to top right, rgba(25, 25, 25, 0.75), rgba(25, 25, 25, 0.5) 66.666%, rgba(25, 25, 25, 0.25));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .banner > div {
    background: rgb(252, 252, 249); /* @snow */
    background: transparent;
    color: white;
    position: absolute;
    bottom: 10%;
    padding: 0.375em 1.4em;
  }

  @supports (transform: translateY(0)) {
    .banner > div {
      bottom: 50%;
      transform: translateY(50%);

      bottom: 2.4em;
      transform: none;
    }
    .banner > div {
      bottom: 10%;
      transform: none;
    }
  }


  @media (min-width: 55em) {
    .banner > div {
      left: calc(50vw - 17.9em);
    }
  }


  @supports (background-image: url('data:image/svg+xml;utf8,<svg></svg>')) {
    .banner > div > a {
      /* --wave-outline-light-blue */
      background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 25" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(80, 195, 255)" d="M -10 0 Q 50 25, 110 0 L 110 10 Q 50 35, -10 10"></path></svg>');
      background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9InJnYig4MCwgMTk1LCAyNTUpIiBkPSJNIC0xMCAwIFEgNTAgMjUsIDExMCAwIEwgMTEwIDEwIFEgNTAgMzUsIC0xMCAxMCI+PC9wYXRoPjwvc3ZnPg==');
    }
  }


  /* =Banner (Projects List)
  ----------------------------------------------- */
  .projects .banner {
    padding-bottom: 40%;
    padding-bottom: 40vh;
  }
  @media (min-aspect-ratio: 1/1) {
    .projects .banner {
      padding-bottom: 60%;
      padding-bottom: 60vh;
      min-height: 70vh;
    }
  }
  .projects .banner:before {
    background: rgba(25, 25, 25, 0.75);
  }
  .projects .banner h3 {
    margin-top: 0;
  }
  @media (min-width: 45em) {
    .projects .banner > div {
      margin-left: -17.9em;
    }
  }
  .projects .banner > div {
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .projects .banner h3,
  .projects .banner p {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }


  /* =Banner (Project Details)
  ----------------------------------------------- */

  /* Make the banner taller on horizontal screens. */
  @media (min-aspect-ratio: 1/1) {
    .ahoy + .banner {
      padding-bottom: 80%;
      padding-bottom: 80vh;
    }
  }


  /* =Banner (Next Project)
  ----------------------------------------------- */
  .banner.next {
    padding-bottom: 60%;
    padding-bottom: 60vh;
    margin-top: 1.4em;
  }
  @media (min-aspect-ratio: 1/1) {
    .banner.next {
      padding-top: 5em;
      padding-top: 15vh;
      padding-bottom: 5em;
      padding-bottom: 15vh;
      min-height: 70vh;
      box-sizing: border-box;
    }
  }
  .banner.next div:first-child {
    top: 10%;
    bottom: auto;
  }
  @media (min-width: 45em) {
    .banner.next div:first-child {
      top: 25%;
    }
    .banner.next .banner__title-container {
      top: 25%;
      bottom: auto;
      left: 50%;
      left: calc(50vw - 2.9em);
    }
    .banner.next:before {
      background: linear-gradient(to bottom left, rgba(25, 25, 25, 0.75), rgba(25, 25, 25, 0.5) 66.666%, rgba(25, 25, 25, 0.25));
    }
  }
