

  /* =Credit
  ----------------------------------------------- */
  .banner .credit {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;

    margin: 0;
    padding: 0;
    font-size: 0.75em;
  }
  .banner .credit a {
    display: block;
    padding: 0.7em 1.4em;
    color: inherit;
    background-image: none;
    text-decoration: none;
  }
  .banner .credit a span {
    text-decoration: underline;
  }
  @supports (background-image: url('data:image/svg+xml;utf8,<svg></svg>')) {
    .banner .credit a span {
      text-decoration: none;

      /* --wave-outline-light-blue */
      background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 25" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(80, 195, 255)" d="M -10 0 Q 50 25, 110 0 L 110 10 Q 50 35, -10 10"></path></svg>');
      background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9InJnYig4MCwgMTk1LCAyNTUpIiBkPSJNIC0xMCAwIFEgNTAgMjUsIDExMCAwIEwgMTEwIDEwIFEgNTAgMzUsIC0xMCAxMCI+PC9wYXRoPjwvc3ZnPg==');

      background-repeat: repeat-x;
      background-position: bottom;
      background-size: 1em auto;
    }
  }

