

  /* =Banner
  ----------------------------------------------- */
  .banner {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    padding-bottom: 60vh;
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
  }
  .banner:before {
    content: "";
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to top right, rgba(25, 25, 25, 0.75), rgba(25, 25, 25, 0.5) 66.666%, rgba(25, 25, 25, 0.25));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .banner__title-container,
  .banner__next-project-container {
    position: absolute;
    bottom: 10%;
    padding: 0.375em 1.4em;
  }

  @supports (transform: translateY(0)) {
    .banner__title-container,
    .banner__next-project-container {
      bottom: 50%;
      transform: translateY(50%);

      bottom: 2.4em;
      transform: none;
    }
    .banner__title-container,
    .banner__next-project-container {
      bottom: 10%;
      transform: none;
    }
  }


  @media (min-width: 55em) {
    .banner__title-container,
    .banner__next-project-container {
      left: calc(50vw - 17.2em); /* 33em / 2 + 0.7em */
    }
  }


  /* =Banner (Projects List)
  ----------------------------------------------- */
  .banner_list {
    padding-bottom: 0;
    min-height: 40vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .banner__title-container_list {
    position: relative;
    left: auto;
    text-align: center;
  }
  @media (min-aspect-ratio: 1/1) {
    .banner_list {
      min-height: 70vh;
    }
  }
  .banner_list:before {
    background: rgba(25, 25, 25, 0.75);
  }


  /* =Banner (Project Details)
  ----------------------------------------------- */

  /* Make the banner taller on horizontal screens. */
  @media (min-aspect-ratio: 1/1) {
    .banner_details {
      padding-bottom: 80%;
      padding-bottom: 80vh;
    }
  }


  /* =Banner (Next Project)
  ----------------------------------------------- */
  .banner_next {
    padding-bottom: 60%;
    padding-bottom: 60vh;
    margin-top: 1.4em;
  }
  @media (min-aspect-ratio: 1/1) {
    .banner_next {
      padding-top: 5em;
      padding-top: 15vh;
      padding-bottom: 5em;
      padding-bottom: 15vh;
      min-height: 70vh;
      box-sizing: border-box;
    }
  }
  .banner__next-project-container {
    top: 10%;
    bottom: auto;
  }
  @media (min-width: 45em) {
    .banner_next:before {
      background: linear-gradient(to bottom left, rgba(25, 25, 25, 0.75), rgba(25, 25, 25, 0.5) 66.666%, rgba(25, 25, 25, 0.25));
    }
    .banner__next-project-container {
      top: 25%;
      padding-left: 0;
    }
    .banner__title-container_next {
      top: 25%;
      bottom: auto;
      left: 50%;
      left: calc(50vw - 2.9em);
    }
  }
