

  /* =Home
  ----------------------------------------------- */
  .home > .container:last-child {
    padding-bottom: 5.6em;
  }


  /* =Introduction
  ----------------------------------------------- */
  .introduction {
    padding-top: 2.1em;
  }
  .introduction h1 {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }
  .introduction h2:first-of-type {
    font-size: 2em;
    line-height: 1;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }
  .introduction .action {
    float: right;
    margin: 0.7em 0 0 0.7em;
  }


  /* =Projects
  ----------------------------------------------- */
  .project-list,
  .project-list li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }


  /* =Services
  ----------------------------------------------- */
  .services,
  .services li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }


  /* =Social
  ----------------------------------------------- */
  .social {
    margin-top: 4.2em;
  }
  .social ul,
  .social li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .social li {
    display: inline-block;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
  }

