
  a.ahoy {
    position: absolute;
    z-index: 1;
    padding: 0.375em 0.7em 0.7em;
    margin: 0.7em;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  a.ahoy svg {
    font-size: 0.5em;
    vertical-align: bottom;
    margin-left: 0.7em;
  }

  @supports (background-image: url('data:image/svg+xml;utf8,<svg></svg>')) {
    a.ahoy {
      /* --wave-outline-light-blue */
      background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 25" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(80, 195, 255)" d="M -10 0 Q 50 25, 110 0 L 110 10 Q 50 35, -10 10"></path></svg>');
      background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9InJnYig4MCwgMTk1LCAyNTUpIiBkPSJNIC0xMCAwIFEgNTAgMjUsIDExMCAwIEwgMTEwIDEwIFEgNTAgMzUsIC0xMCAxMCI+PC9wYXRoPjwvc3ZnPg==');

      background-repeat: repeat-x;
      background-position: 50% 47%;
      background-size: 1em auto;
    }
  }
  a.ahoy {
    margin: 1.4em;
    background-position: 50% 75%;
  }
  @media (min-width: 55em) {
    a.ahoy {
      margin-left: calc(50vw - 16.5em);
    }
  }
  a.ahoy h2 {
    font-size: 0.75em;
    line-height: 1.8666666667;
    padding: 0.7em;

    display: inline;
  }

  .home a.ahoy {
    position: relative;
    padding: 0;
    margin: 1.4em 0 2.8em;
    color: inherit;
    text-align: center;
    display: block;
  }
  .home a.ahoy svg {
    font-size: inherit;
  }
  .home a.ahoy:hover,
  .home a.ahoy:active,
  .home a.ahoy:focus {
    background-color: transparent;
  }

  @supports (background-image: url('data:image/svg+xml;utf8,<svg></svg>')) {
    .home a.ahoy {
      background-position: bottom;
      background-size: 1.4em auto;
    }
  }
