---
layout: default
title: Fahrenheit Studio
figures:
- caption: Fahrenheit Studio
  url: http://www.fahrenheit.com
- caption: Fahrenheit Studio
  url: http://www.fahrenheit.com/what/mix/
- caption: Case Study
  url: http://www.fahrenheit.com/work/juliet/
- caption: Case Study
  url: http://www.fahrenheit.com/work/kttunstall/
- caption: Case Study
  url: http://www.fahrenheit.com/work/dwele/
---

{% include ahoy.html %}

  <div class="project-header" style="background-image: url(/images/fahrenheit/2048-wide/poster-b.jpg); background-position: 25% 50%;">
    <div class="project-header__container">
      <h1 class="project-header__title">Fahrenheit Studio</h1>
      <p class="project-header__company">with the team at <a href="http://fahrenheit.com">Fahrenheit Studio</a></p>
    </div>
  </div>

  <div class="container">

    <p>Fahrenheit Studio has been helping companies express their brand since 1995. Their beautiful, desktop-oriented web site needed a redesign.</p>

    <p>During the project, I worked alongside Dylan, our designer, to create a <a href="http://www.fahrenheit.com/work/">responsive portfolio</a> that emphasized Fahrenheit’s stunning project images and would look great on retina displays and big screens. I also found out that <a href="#robert">Robert</a> is an excellent guitar player.</p>

    <!--
    <p>My role involved facilitating design discussions, getting sign-off from decision-makers, writing production-quality HTML, CSS and JavaScript for the user interface, testing for accessibility and browser/device compatibility, fine-tuning the code for better performance, creating templates with PHP, and setting up hosting with Beanstalk and Media Temple.</p>
    -->

    <h2>Visit the project</h2>
    <ul class="action">
      <li><a href="http://fahrenheit.com">Fahrenheit Studio</a></li>
    </ul>

    {% include figures.html %}

    <h2>Crew</h2>

    <div>
      <h3>Design</h3>
      <p><a href="http://www.fahrenheit.com/who/dylan-tran/">Dylan Tran</a></p>
    </div>
    <div>
      <h3>Content</h3>
      <p><a href="https://www.linkedin.com/in/melinda-smith-12011728">Melinda Smith</a></p>
    </div>
    <div>
      <h3>Marketing</h3>
      <p><a href="http://www.fahrenheit.com/who/robert-weitz/">Robert Weitz</a></p>
    </div>

    {% include figure-crew.html caption="Robert serenading me, as I work on the style sheets" %}

    <h2>Tools we used</h2>

    <div>
      <h3>User Interface</h3>
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">HTML</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/SVG">SVG</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">CSS</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript">JavaScript</a></li>
      </ul>
    </div>
    <div>
      <h3>Server-Side Templates</h3>
      <p><a href="http://php.net">PHP</a></p>
    </div>
    <div>
      <h3>Workflow</h3>
      <ul>
        <li><a href="https://git-scm.com">Git</a></li>
        <li><a href="http://beanstalkapp.com">Beanstalk</a></li>
      </ul>
    </div>
    <div>
      <h3>Web Hosting</h3>
      <p><a href="https://mediatemple.net">Media Temple</a></p>
    </div>

  </div>

  <a href="/la2050" class="project-next" style="background-image: url(/images/la2050/2048-wide/poster.jpg);">
    <div class="project-next__direction">
      <h2>Next project →</h2>
    </div>
    <div class="project-next__container">
      <h3 class="project-next__title">My LA2050 Challenge</h3>
      <p class="project-next__company">with the team at <span class="phrase">The Goldhirsh Foundation</span></p>
    </div>
  </a>
