---
layout: default
title: GOOD Worldwide
figures:
- caption: The Levi Strauss & Co. Collaboratory
  url: http://www.goodinc.com/project/the_levi_strauss__co_collaboratory_
- caption: GOOD Fest
  url: http://www.goodinc.com/project/goodfest
- caption: GOOD Blog
  url: http://www.goodinc.com/news
- caption: History of GOOD
  url: http://www.goodinc.com/about/history
- caption: Pattern Library
  url: https://jimthoburn.github.io/goodinc-ui/build/
- caption: Pattern Library
  url: https://jimthoburn.github.io/goodinc-ui/build/team.html
---

{% include ahoy.html %}

  <div class="project-header" style="background-image: url(/images/good/2048-wide/poster.jpg)">
    <div class="project-header__container">
      <h1 class="project-header__title">GOOD Worldwide</h1>
      <p class="project-header__company">with the teams at <a href="http://typecode.com">Type/Code</a> and <a href="http://www.goodinc.com">GOOD Worldwide</a></p>
    </div>
    <p class="project-header__credit"><a href="http://www.musiccenter.org">Photo by <span>The Music Center</span></a></p>
  </div>

  <div class="container">

    <p>GOOD Worldwide publishes a <a href="https://good.is">magazine</a> that celebrates the positive things people are doing around the world. They also help organizations get the word out about the good they’re doing, by creating original media and facilitating brain-storming sessions with their leadership. GOOD needed a marketing web site to tell their story and show their projects.</p>

    <p>During the project I worked alongside Erica, our designer, to create <a href="https://jimthoburn.github.io/goodinc-ui/design/">responsive prototypes</a> that expressed a content structure and visual look for the new web site. In the process, I documented the <a href="https://jimthoburn.github.io/goodinc-ui/build/">code patterns</a> to make it easier to add new pages and features in the future.</p>

    <p>My role also involved facilitating design discussions, getting sign-off from decision-makers, writing production-quality HTML, CSS and JavaScript for the user interface, testing for accessibility and browser/device compatibility, fine-tuning the code for better performance, and integrating the HTML with server-side templates. (We used Ruby on Rails.)</p>

    <h2>Visit the project</h2>

    <ul class="action">
      <li><a href="http://www.goodinc.com">GOOD Worldwide</a></li>
      <li><a href="https://jimthoburn.github.io/goodinc-ui/design/">Design prototype</a></li>
      <li><a href="https://jimthoburn.github.io/goodinc-ui/build/">UI library</a></li>
      <li><a href="https://github.com/goodinc/goodinc-ui">GitHub project</a></li>
    </ul>

    {% include figures.html %}

    <h2>Crew</h2>

    <div>
      <h3>Design</h3>
      <ul>
        <li><a href="https://www.linkedin.com/in/erica-peterson-ba0a1449">Erica Peterson</a></li>
        <li><a href="https://www.linkedin.com/in/ianlord">Ian Lord</a></li>
      </ul>
    </div>

    <div>
      <h3>Engineering</h3>
      <ul>
        <li><a href="https://www.linkedin.com/in/briannilsen">Brian Nilsen</a></li>
      </ul>
    </div>

    <div>
      <h3>Strategy</h3>
      <ul>
        <li><a href="https://twitter.com/caseycaplowe">Casey Caplowe</a></li>
        <li><a href="https://www.linkedin.com/in/vandenorth">Joseph Vandenorth</a></li>
        <li><a href="https://github.com/parisla">Paris Marron</a></li>
      </ul>
    </div>

    <h2>Tools we used</h2>

    <div>
      <h3>User Interface</h3>
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">HTML</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/SVG">SVG</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">CSS</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript">JavaScript</a></li>
      </ul>
    </div>

    <div>
      <h3>Web Server</h3>
      <ul>
        <li><a href="http://rubyonrails.org">Ruby on Rails</a></li>
        <li><a href="https://www.mysql.com">MySQL</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Nginx">Nginx</a></li>
      </ul>
    </div>

    <div>
      <h3>Workflow</h3>
      <ul>
        <li><a href="http://www.docker.com">Docker</a></li>
        <li><a href="https://github.com">GitHub</a></li>
      </ul>
    </div>

    <div>
      <h3>Web Hosting</h3>
      <p><a href="https://aws.amazon.com">Amazon Web Services</a></p>
    </div>

  </div>

  <a href="/food-oasis" class="project-next" style="background-image: url(/images/food-oasis/2048-wide/poster-b.jpg);">
    <div class="project-next__direction">
      <h2>Next project →</h2>
    </div>
    <div class="project-next__container">
      <h3 class="project-next__title">Food Oasis <span class="phrase">Los Angeles</span></h3>
      <p class="project-next__company">with the volunteers at <span class="phrase">Code for America</span></p>
    </div>
  </a>
