---
layout: default
title: Stories about helpful people
figures:
- caption: Stories about helpful people
  url: https://helpers.zendesk.com/
- caption: Stories about helpful people
  url: https://helpers.zendesk.com/
- caption: All Around Forestry
  url: https://helpers.zendesk.com/all-around-forestry
- caption: Eric and the Bees
  url: https://helpers.zendesk.com/eric
- caption: Eric and the Bees
  url: https://helpers.zendesk.com/eric
- caption: https://helpers.zendesk.com/fantastic-grandmothers
  url: https://helpers.zendesk.com/fantastic-grandmothers
- caption: Shttps://helpers.zendesk.com/fantastic-grandmothers
  url: https://helpers.zendesk.com/fantastic-grandmothers
- caption: And another story of helpfulness
  url: https://helpers.zendesk.com/about
---

{% include ahoy.html %}

  <div class="project-header" style="background-image: url(/images/helpers/2048-wide/7.png);">
    <div class="project-header__container">
      <h1 class="project-header__title">Stories about <span class="phrase">helpful people</span></h1>
      <p class="project-header__company">with the teams at <a href="https://www.zendesk.com/blog/empathy-chaotic-world-new-way-say-thanks/">Zendesk</a> and <a href="https://www.onedarnleyroad.com/">One Darnley Road</a></p>
    </div>
  </div>

  <div class="container">

    <p><em>Stories about helpful people</em> is a web site that serves as a home for documentary films and articles.</p>

    <p>Our engineering lead, John, and I teamed up to create a user interface for the site, integrate it with a CMS, and set it up with scalable hosting. We used gestures and other user interactions to control animations &amp; transitions throughout the site.</p>

    <p>The project was completed in a short time frame, going from prototype to launch in weeks. The first release included a short film documentary and two articles.</p>

    <p>You can <a href="https://www.zendesk.com/blog/stories-about-helpful-people/">read more about the project</a> on the Zendesk web site.</p>

    <h2>Visit the project</h2>

    <ul class="action">
      <li><a href="https://helpers.zendesk.com/">Stories about helpful people</a></li>
    </ul>

    {% include figures.html %}

    <h2>Crew</h2>

    <div>
      <h3>Design</h3>
      <ul>
        <li>Sam Bathe</li>
      </ul>
    </div>

    <div>
      <h3>Engineering</h3>
      <ul>
        <li><a href="https://github.com/johndwells">John Wells</a></li>
      </ul>
    </div>

    <h2 id="tools">Tools we used</h2>

    <div>
      <h3>User Interface</h3>
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">HTML</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">CSS</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript">JavaScript</a></li>
        <li><a href="https://github.com/alpinejs/alpine/">Alpine.js</a></li>
        <!-- <li><a href="https://unpoly.com/">Unpoly</a></li> -->
        <!-- <li><a href="https://tailwindcss.com/">Tailwind CSS</a></li> -->
      </ul>
    </div>

    <div>
      <h3>Workflow</h3>
      <ul>
        <li><a href="https://www.ddev.com/">Ddev</a></li>
        <li><a href="https://nodejs.org">Node.js</a></li>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="https://www.docker.com/">Docker</a></li>
      </ul>
    </div>

    <div>
      <h3>Templates &amp; Content</h3>
      <ul>
        <li><a href="https://craftcms.com/">Craft CMS</a></li>
      </ul>
    </div>

    <div>
      <h3>Web Hosting</h3>
      <ul>
        <li><a href="https://servd.host/">Servd</a></li>
        <li><a href="https://www.cloudflare.com">Cloudflare</a></li>
      </ul>
    </div>

  </div>

  <a href="/la2050" class="project-next" style="background-image: url(/images/la2050/2048-wide/poster.jpg);">
    <div class="project-next__direction">
      <h2>Next project →</h2>
    </div>
    <div class="project-next__container">
      <h3 class="project-next__title">LA2050</h3>
      <p class="project-next__company">with the team at <span class="phrase">The Goldhirsh Foundation</span></p>
    </div>
  </a>
