---
layout: default
title: Style & Code for the Web, by Jim Thoburn

emoji_title: Style & Code for the Web, by Jim Thoburn 🌩 🐻

class: home

projects:
- name: GOOD Fest
  company: Google & GOOD Worldwide
  image: /images/good-fest/2048-wide/poster-b.jpg
  image_style: "background-position: bottom;"
- name: 4th of July <span class="phrase">at Grand Park</span>
  company: The Music Center
  image: /images/grand-park/2048-wide/poster-a.jpg
- name: 10 Days of Lending
  company: PayPal, Kiva, & GOOD Worldwide
  image: /images/kiva/2048-wide/poster-c.jpg
- name: GOOD Worldwide
  company: Type/Code
  image: /images/good/2048-wide/poster.jpg
- name: Food Oasis <span class="phrase">Los Angeles</span>
  company: <span class="phrase">Code for America</span>
  image: /images/food-oasis/2048-wide/poster-a.jpg
- name: CTZN App
  company: GOOD Worldwide
  image: /images/ctzn-app/2048-wide/poster.jpg
  image_style: "background-position: 50% 25%;"
- name: GOOD Community
  image: /images/good-community/2048-wide/poster-b.jpg
- name: OK the Store
  company: <span class="phrase">Barrel Strength Design</span>
  image: /images/ok-the-store/2048-wide/poster-a.jpg
- name: JJ Burns & Company
  company: <span class="phrase">Fahrenheit Studio</span>
  image: /images/jj-burns/2048-wide/poster-a.jpg
  image_style: "background-position: 2% 50%;"
- name: Fahrenheit Studio
  image: /images/fahrenheit/2048-wide/poster-a.jpg
---

  <div class="container introduction">

    {% include sky.html %}

    <a class="ahoy">
      <span class="movable-ship">
        {% include ship.svg %}
      </span>
    </a>

    <h1>Ahoy there! I’m Jim, a {% comment %}<!-- sailor on a ship -->{% endcomment %} user experience developer, <span class="phrase">based in <span class="phrase">Los Angeles.</span></span></h1>

    <h2>I partner with designers &amp; engineers to make robust products for the Web, that people <span class="phrase">love to use.</span></h2>

    <p class="action"><a href="#hello">Say hello</a></p>

    <p>If you’re building a web site or application, I can help with prototypes, universal design, pattern libraries, <a href="#services" aria-label="Services">and more</a>!</p>

    {% comment %}
    <!--
    <p>I can also bake cookies 🍞 🍪 or take action shots during a project 📷 🖼  : )</p>
    -->
    {% endcomment %}

    <p>Here are some example projects…</p>

  </div>

  <ul class="projects">
    {% for project in page.projects %}
    <li>
      <a href="/good-fest" class="banner banner_list" style="background-image: url({{ project.image }}); {{ project.image_style }}">
        <div class="banner__title-container banner__title-container_link banner__title-container_list">
          <h3 class="banner__title banner__title_link">{{ project.name }}</h3>
          {% if project.company %}
          <p class="banner__with banner__with_link">{{ project.company }}</p>
          {% endif %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="container" id="services">
    <h1>Services</h1>

    <ul class="services">
      <li>
        <h2>Prototypes</h2>
        <p>Get an <a href="https://jimthoburn.github.io/goodinc-ui/design/" aria-label="example prototype">interactive sketch</a> for your project. These can be tested with users, to help choose a direction for a new product.</p>
      </li>
      <!--
      <li>
        <h2>Iterative development</h2>
        https://agile.18f.gov
        <p>https://playbook.cio.gov/#play4</p>
      </li>
      -->
      <li>
        <h2>Universal design</h2>
        <p>From your ideas, sketches or high-fidelity compositions, I’ll make a fast, lightweight and robust <a href="http://www.goodinc.com/about/philosophy" aria-label="example universal design">user interface</a>—that’s responsive and accessible to anyone in your audience—built with production-ready HTML, CSS and JavaScript.</p>
      </li>
      <li>
        <h2>Pattern libraries</h2>
        <p>During the development process, I’ll look for and document <a href="https://jimthoburn.github.io/goodinc-ui/build/" aria-label="example pattern library">reusable code</a>. This will help you create additional pages and features for your project in the future.</p>
      </li>
    </ul>

    <h2>I can also help with…</h2>
    <p>…browser/device compatibility, testing and improving accessibility, optimizing front end code for performance, integration with templates, and responsive HTML emails.</p>
  </div>

  <div class="container" id="hello">

    <h1>Say hello!</h1>
    <p>I’m available to work on a web project in the fall &amp; winter of 2017. <!--🍃🍂🍁--></p>
    <p class="action"><a href="mailto:hello@tobbi.co">hello@tobbi.co</a></p>

    <section class="social">

      <h2>Find me at the social places</h2>
      <ul>
        <li><a href="https://github.com/jimthoburn">GitHub</a></li>
        <li><a href="https://twitter.com/jimthoburn">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/jimthoburn">LinkedIn</a></li>
      </ul>

    </section>
  </div>
