---
layout: default
title: JJ Burns
figures:
- caption: JJ Burns & Company
  url: http://jjburns.com
- caption: Service page
  url: http://jjburns.com/what-we-do/charitable-planning
- caption: Team member page
  url: http://jjburns.com/get-to-know-us/executive-team/jessica-evans
- caption: Pattern Library
  url: http://jjburns.com/assets/html/patterns/
- caption: Layout Prototype
  url: http://jjburns.com/assets/html/patterns/related.html
---

{% include ahoy.html %}

  <div class="project-header" style="background-image: url(/images/jj-burns/2048-wide/poster-b.jpg); background-position: left;">
    <div class="project-header__container">
      <h1 class="project-header__title">JJ Burns &amp; Company</h1>
      <p class="project-header__company">with the team at <a href="http://fahrenheit.com">Fahrenheit Studio</a></p>
    </div>
  </div>

  <div class="container">
    <p>JJ Burns provides financial services to a broad range of clients, from endowments to professional athletes. Their aging, desktop-oriented web site needed a redesign.</p>

    <p>I worked alongside Dylan, our designer, to create responsive prototypes that expressed a new content structure and visual look for the web site. Along the way, I created a <a href="http://jjburns.com/assets/html/patterns/">pattern library</a>, and I found out that <a href="#robert">Robert</a> is an excellent cook.</p>

    <!--
    <p>My role also involved writing production-quality HTML, CSS and JavaScript for the user interface, testing for accessibility and browser/device compatibility, fine-tuning the code for better performance, and integrating the HTML with server-side templates. (We used ExpressionEngine.)</p>
    -->

    <h2>Visit the project</h2>
    <ul class="action">
      <li><a href="http://jjburns.com">JJ Burns &amp; Company</a></li>
      <li><a href="http://jjburns.com/assets/html/patterns/">UI library</a></li>
    </ul>

    {% include figures.html %}

    <h2>Crew</h2>

    <div>
      <h3>Design</h3>
      <p><a href="http://www.fahrenheit.com/who/dylan-tran/">Dylan Tran</a></p>
    </div>
    <div>
      <h3>Content Strategy</h3>
      <p><a href="https://www.linkedin.com/in/melinda-smith-12011728">Melinda Smith</a></p>
    </div>
    <div>
      <h3>Marketing Strategy</h3>
      <p><a href="http://www.fahrenheit.com/who/robert-weitz/">Robert Weitz</a></p>
    </div>
    <div>
      <h3>CMS Integration</h3>
      <p><a href="https://barrelstrengthdesign.com">Ben Parizek</a></p>
    </div>

    {% include figure-crew.html caption="Robert serving dinner to the production team" %}

    <h2>Tools we used</h2>

    <div>
      <h3>User Interface</h3>
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">HTML</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/SVG">SVG</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">CSS</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript">JavaScript</a></li>
      </ul>
    </div>
    <div>
      <h3>Server-Side Templates &amp; CMS</h3>
      <p><a href="https://ellislab.com/expressionengine">ExpressionEngine</a></p>
    </div>
    <div>
      <h3>Workflow</h3>
      <ul>
        <li><a href="https://git-scm.com">Git</a></li>
        <li><a href="http://beanstalkapp.com">Beanstalk</a></li>
      </ul>
    </div>

  </div>

  <a href="/fahrenheit" class="project-next" style="background-image: url(/images/fahrenheit/2048-wide/poster-b.jpg)">
    <div class="project-next__direction">
      <h2>Next project →</h2>
    </div>
    <div class="project-next__container">
      <h3 class="project-next__title">Fahrenheit Studio</h3>
      <p class="project-next__company">with the team at <span class="phrase">Fahrenheit Studio</span></p>
    </div>
  </a>
