---
layout: default
title: Thank You Machine
figures:
- caption: Thank You Machine
  url: https://thankyoumachine.zendesk.com/
- caption: Thank You Machine
  url: https://thankyoumachine.zendesk.com/
- caption: Thank You Machine
  url: https://thankyoumachine.zendesk.com/
- caption: Thank You Machine
  url: https://thankyoumachine.zendesk.com/
- caption: Thank You Machine
  url: https://thankyoumachine.zendesk.com/
- caption: Thank You Machine
  url: https://thankyoumachine.zendesk.com/
---

{% include ahoy.html %}

  <div class="project-header" style="background-image: url(/images/thank-you-machine/2048-wide/poster-b.png);">
    <div class="project-header__container">
      <h1 class="project-header__title"><span class="phrase">Thank You</span> Machine</h1>
      <p class="project-header__company">with the teams at <a href="https://www.zendesk.com/blog/empathy-chaotic-world-new-way-say-thanks/">Zendesk</a> and <a href="https://www.onedarnleyroad.com/">One Darnley Road</a></p>
    </div>
  </div>

  <div class="container">

    <p>Thank You Machine is a web app that visitors can use to make an illustrated card for
      a colleague, friend or family member.</p>

    <p>Our engineering lead, John, and I teamed up to create a user interface for the app, integrate it with a CMS, and set it up with scalable hosting. The illustrations were implemented with SVG images that a visitor can mix &amp; match to make their card more unique. And we used <a href="https://www.netlify.com/products/functions/">Netlify functions</a> to generate a downloadable image for each card. </p>

    <p>The project was completed in a short time frame, going from prototype to launch in weeks. Work continued after the first version was released, including a holiday edition and translations into Spanish, Portuguese, French, German, Dutch, Japanese and Korean.</p>

    <p>You can <a href="https://www.zendesk.com/blog/empathy-chaotic-world-new-way-say-thanks/">read more about the project</a> on the Zendesk web site.</p>

    <h2>Visit the project</h2>

    <ul class="action">
      <li><a href="https://thankyoumachine.zendesk.com/">Thank You Machine</a></li>
    </ul>

    {% include figures.html %}

    <h2>Crew</h2>

    <div>
      <h3>Design &amp; Illustration</h3>
      <ul>
        <li>Sam Bathe</li>
        <li>Nous Vous</li>
      </ul>
    </div>

    <div>
      <h3>Engineering</h3>
      <ul>
        <li><a href="https://github.com/johndwells">John Wells</a></li>
      </ul>
    </div>

    <h2 id="tools">Tools we used</h2>

    <div>
      <h3>User Interface</h3>
      <ul>
        <!-- <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">HTML</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">CSS</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript">JavaScript</a></li> -->
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/SVG">SVG</a></li>
        <li><a href="https://github.com/alpinejs/alpine/">Alpine.js</a></li>
        <li><a href="https://unpoly.com/">Unpoly</a></li>
        <li><a href="https://tailwindcss.com/">Tailwind CSS</a></li>
      </ul>
    </div>

    <div>
      <h3>Workflow</h3>
      <ul>
        <li><a href="https://www.ddev.com/">Ddev</a></li>
        <li><a href="https://nodejs.org">Node.js</a></li>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="https://www.docker.com/">Docker</a></li>
      </ul>
    </div>

    <div>
      <h3>Image generation</h3>
      <ul>
        <li><a href="https://github.com/microsoft/playwright">Playwright</a></li>
        <li><a href="https://www.netlify.com/products/functions/">Netlify functions</a></li>
      </ul>
    </div>

    <div>
      <h3>Templates &amp; Content</h3>
      <ul>
        <li><a href="https://craftcms.com/">Craft CMS</a></li>
      </ul>
    </div>

    <div>
      <h3>Web Hosting</h3>
      <ul>
        <li><a href="https://servd.host/">Servd</a></li>
        <li><a href="https://www.cloudflare.com">Cloudflare</a></li>
      </ul>
    </div>

  </div>

  <a href="/la2050" class="project-next" style="background-image: url(/images/la2050/2048-wide/poster.jpg);">
    <div class="project-next__direction">
      <h2>Next project →</h2>
    </div>
    <div class="project-next__container">
      <h3 class="project-next__title">My LA2050 Challenge</h3>
      <p class="project-next__company">with the team at <span class="phrase">The Goldhirsh Foundation</span></p>
    </div>
  </a>
