<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title | escape_once }}</title>

  {% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
  {% endif %}

  {% comment %}
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Jim Thoburn">

  <!-- https://dev.twitter.com/cards/getting-started -->
  <meta name="twitter:creator" content="@jimthoburn" />
  <meta property="og:image" content="/images/ship-240-240-240.png" />
  <meta property="og:description" content="{{ site.description }}" />
  {% endcomment %}

  <!-- https://www.zachleat.com/web/preload/ -->
  <link rel="preload" href="/fonts/goudybookletter1911.woff2" as="font" type="font/woff2" crossorigin />

  <link rel="stylesheet" href="/css/color.css" />
  <link rel="stylesheet" href="/css/type.css" />
  <link rel="stylesheet" href="/css/elements.css" />
  <link rel="stylesheet" href="/css/button.css" />
  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/project-list-item.css" />
  <link rel="stylesheet" href="/css/project-header.css" />
  <link rel="stylesheet" href="/css/project-next.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/sky.css" />

  <script>
  {% include space-time.js %}
  </script>

  <!-- for Windows 8 -->
  <meta name="msapplication-TileImage" content="/images/ship.png" />
  <meta name="msapplication-TileColor" content="rgb(240, 240, 240)" />

  <!-- for general use -->
  <link rel="icon" type="image/png"    href="/images/anchor.png" />

  <!-- for iOS -->
  <link rel="apple-touch-icon"         href="/images/ship-240-240-240.png" />

</head>
<body {% if page.class %}class="{{ page.class }}"{% endif %}>

  {{ content }}

</body>
</html>
