<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title | escape_once }}</title>

  {% comment %}
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Jim Thoburn">

  <!-- https://dev.twitter.com/cards/getting-started -->
  <meta name="twitter:creator" content="@jimthoburn" />
  <meta property="og:image" content="/images/ship-240-240-240.png" />
  <meta property="og:description" content="{{ site.description }}" />
  {% endcomment %}

  <script>
    (function() {

      // KUDOS https://stackoverflow.com/questions/4959975/generate-random-number-between-two-numbers-in-javascript#answer-4960020

      // Generate a random number between 1 and 255
      //var brightness = Math.floor(Math.random() * 255) + 1;

      // Generate a random number between 1 and 1000
      //var position = Math.floor(Math.random() * 1000) + 1;

      // Generate a random number between 1 and 1000
      var cloudDelay = Math.floor(Math.random() * 1000) + 1;

      // Generate a random number between 0 and 12
      //var sunPosition = Math.floor(Math.random() * 12) + 0;
      var now = new Date();
      var hours = now.getHours() + (now.getMinutes() / 60);
      hours = hours % 12; // The animation runs from 0-12 hours

      var sunPosition = hours - 6; // Adjust by six hours, so the sun will be half-way through the animation (instead of at the very end) at noon.

      //document.documentElement.style.setProperty('--cloud-brightness', brightness);
      //document.documentElement.style.setProperty('--cloud-position', position);
      document.documentElement.style.setProperty('--cloud-delay', cloudDelay + 's');
      document.documentElement.style.setProperty('--sun-position', (sunPosition * 60 * 60 * -1) + 's');


    })();
  </script>

  <!-- https://www.zachleat.com/web/preload/ -->
  <link rel="preload" href="/fonts/goudybookletter1911.woff2" as="font" type="font/woff2" crossorigin />

  <link rel="stylesheet" href="/ahoy.css" />

  <!-- for general use -->
  <link rel="icon" type="image/png"    href="/images/anchor.png" />

  <!-- for iOS -->
  <link rel="apple-touch-icon"         href="/images/ship-240-240-240.png" />

  <!-- for Windows 8 -->
  <meta name="msapplication-TileImage" content="/images/ship.png" />
  <meta name="msapplication-TileColor" content="rgb(240, 240, 240)" />

  {% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
  {% endif %}
</head>
<body {% if page.class %}class="{{ page.class }}"{% endif %}>

  {{ content }}

</body>
</html>
