<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta property="og:image" content="/images/ship-240-240-240.png" />

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/ahoy.css" />

  <!-- for general use -->
  <link rel="icon" type="image/png"    href="/images/anchor.png" />

  <!-- for iOS -->
  <link rel="apple-touch-icon"         href="/images/ship-240-240-240.png" />

  <!-- for Windows 8 -->
  <meta name="msapplication-TileImage" content="/images/ship.png" />
  <meta name="msapplication-TileColor" content="rgb(240, 240, 240)" />

  {% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
  {% endif %}
</head>
<body {% if page.class %}class="{{ page.class }}"{% endif %}>

  {{ content }}

</body>
</html>
